.item {
  border-bottom: 1px solid #282c34;
}
.item:hover {
  background-color: grey;
}
.list {
  margin: auto;
  text-align: center;
  border: 4px solid grey;
  border-radius: 8px;
  width: 600px;
}
.App {
  padding-top: 20px;
}
 .Home {
   text-align: center;
 }

 h3 {
   text-decoration: none;
   display: inline-block;
   margin-left: 10px;
   color: #282c34;
 }

 h3:hover {
   text-decoration: underline;
 }
 nav {
   border-bottom: #282c34 4px solid;
   margin-bottom: 10px;
 }

 form {
   margin:auto;
 }

 form * {
   text-align: center;
   display: block;
   margin: auto;
   padding-top: 10px;
   box-sizing: border-box;
 }